body {
    font-family: 'inter';
    background-color:#E9E9E9 ;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
     main, footer {
        max-width: 1200px;
        margin: auto;
        } 

        header {
            
            background-color: black;
            background-size: 100%;
        }

    header a {
        text-decoration: none;
        color: white;
        }
    
        header p {
            font-family: 'Bebas Neue';
            font-size: 40px;
            margin: 0;
            padding: 0;
            }
    
        header ul {
            font-family: 'inter';
            font-size: 18px;
            }
    
            header nav ul {
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                padding: 0;
                gap: 20px;
                
                }
    
                header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0;
                padding: 20px;
                }

                
                header a:hover {
                    color: white;
                    text-decoration: underline;
                }

                
                
                
                 
                            
                          
                          
  
                

                